.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.area1{
    width: 100px;
    height: 150px;
    background-color: red;
}
.area2{
    width: 150px;
    height: 50px;
    background-color: lightskyblue;
} 
.area3{
    width: 150px;
    height: 50px;
    background-color:rgb(141, 85, 17);
}
 footer{
    width: 100px;
    height: 100px;
    background-color: blue;
}


















