@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Nunito+Sans:opsz,wght@6..12,600;6..12,800&family=Overpass:wght@700&family=Poppins:wght@500&family=Raleway:wght@500;700&family=Red+Hat+Text:wght@500&family=Roboto:wght@500&family=Rubik:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    header{
        display: flex;
    } 
    html,body{
        display: flex;
        width: 100vw;
        height: 100vh;
        padding: 195px 0px 189px 0px;
        justify-content: center;
        align-items: center;
        background: var(--very-dark-blue, #131518); 
        .container{
            
            width: 412px;
            height: 416px;
            border-radius: 30px;
            background: var(--black-gradient, radial-gradient(98.96% 98.96% at 50.00% 0%, #232A34 0%, #181E27 100%));
            .form{
                padding: 32px 0px 0px 32px;
            }
            .text{
                width: 380px;
                display: flex;
                flex-direction: column;
                margin:30px 0px 0px 25px; 
                .title{
                    color: var(--pure-white, #FFF);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: Overpass;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    .ddd{  
                        margin-top: 7px;
                        color: var(--light-grey, #969FAD);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Overpass;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; 
                    }
                }
            }   
            .numbers{
                width: 340px;
                display: flex;
                justify-content: space-between;
                margin:24px 0px 0px 25px; 
                span{
                    display: flex;
                    width: 51px;
                    height: 51px;
                    background-color:#262E38 ;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    color:#7C8798;
                    font-family: Overpass;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px; 
                    letter-spacing: 0.2px;
                }
            }  
            .numbers span:hover{
                background-color:#FC7614;
                cursor: pointer;
                color:#FFF
            }
            
            button{
                margin:24px 0px 0px 25px; 
                display: flex;
                justify-content: center;
                align-items: center;
                width: 341px;
                height: 45px;
                border-radius: 22.5px;
                background: var(--orange, #FC7614); 
                
                color: var(--pure-white, #FFF);
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Overpass;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 2px;
                
            }                      
            button:hover{
                background:#fff;
                color: #FC7614;
                cursor: pointer;
                
            }
        }
        @media (max-width:500px){
            header{
                margin: 20px auto;
                
                .container{
                    width: 90%;
                    height: 416px;
                    border-radius: 15px;
                    background:#181E27;
                    
                    .title{
                        color: var(--pure-white, #FFF);
                        font-family: Overpass;
                        font-size: 24px;
                        font-weight: 700;
                        
                        .ddd{
                            width: 85%;
                            color: #969FAD;
                            font-family: Overpass;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 22px;
                        }
                    }
                    .numbers{
                        width: 310px;
                        display: flex;
                        margin-top:24px;
                        .www{
                            width: 42px;
                            height: 42px;
                            color: var(--medium-gray, #7C8798);
                            text-align: center;
                            font-family: Overpass;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: 0.175px;
                        }
                    }
                    button{
                        width: 310px;
                        height: 45px;
                        margin: 24px 0px 0px 25px;
                    }
                    
                    
                }
            }
            
        }
        
        @media (max-width:450px){
            header{
                margin: 20px auto;
                
                .container{
                    margin: 20px auto;
                    width: 85%;
                    height: 416px;
                    border-radius: 15px;
                    background:#181E27;
                    
                    .title{
                        color: #FFF;
                        font-family: Overpass;
                        font-size: 17px;
                        font-weight: 700;
                        
                        .ddd{
                            width: 270px;
                            color: #969FAD;
                            font-family: Overpass;
                            font-size: 11px;
                            font-weight: 400;
                            line-height: 19px;
                        }
                    }
                    .numbers{
                        width: 270px;
                        display: flex;
                        margin-top:24px;
                        .www{
                            width: 40px;
                            height: 40px;
                            color: var(--medium-gray, #7C8798);
                            text-align: center;
                            font-family: Overpass;
                            font-size: 11px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: 0.175px;
                        }
                    }
                    button{
                        width: 270px;
                        height: 45px;
                        margin: 34px 0px 0px 20px;
                    }
                    
                }  
            }    
        }
        @media(max-width:420px){
            header{
                margin: 20px auto;
                
                .container{
                    margin: 20px auto;
                    width: 80%;
                    height: 416px;
                    border-radius: 15px;
                    background:#181E27;
                    .text{
                        width: 350px;
                        font-size: 30px;
                        .title{
                            color: #FFF;
                            font-family: Overpass;
                            font-size: 19px;
                            font-weight: 700;
                            
                            .ddd{
                                width: 60%;
                                color: #969FAD;
                                font-family: Overpass;
                                font-size: 15px;
                                font-weight: 400;
                                line-height: 19px;
                            }
                        }               
                    }
                    .numbers{
                        width: 85%;
                        display: flex;
                        margin-top:24px;
                        .www{
                            width: 35px;
                            height: 35px;
                            color: var(--medium-gray, #7C8798);
                            text-align: center;
                            font-family: Overpass;
                            font-size: 11px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: 0.175px;
                        }
                    }
                    button{
                        width: 160px;
                        height: 45px;
                        margin: 35px 0px 0px 20px;
                    }
                }             
            }    
        }
        
        @media(max-width:350px){
            header{
                // margin: 30px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                .container{
                    // margin: 25px auto;
                    width: 50%;
                    height: 416px;
                    border-radius: 15px;
                    background:#181E27;               
                    .title{
                        color: #FFF;
                        font-family: Overpass;
                        font-size: 20px;
                        font-weight: 700;
                        
                        .ddd{
                            width: 40%;
                            color: #969FAD;
                            font-family: Overpass;
                            font-size: 11px;
                            font-weight: 400;
                            line-height: 19px;
                        }
                    }
                    .numbers{
                        width: 200px;
                        display: flex;
                        margin-top:24px;
                        .www{
                            width: 35px;
                            height: 35px;
                            color: var(--medium-gray, #7C8798);
                            text-align: center;
                            font-family: Overpass;
                            font-size: 11px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: 0.175px;
                        }
                    }
                    button{
                        width: 220px;
                        height: 45px;
                        margin: 24px 0px 0px 20px;
                    }
                }           
            }    
        }
        
        @media(max-width:300px){
            header{
                // margin: 30px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                .container{
                    // margin: 30px auto;
                    width: 40%;
                    height: 416px;
                    border-radius: 15px;
                    background:#181E27;               
                    .title{
                        color: #FFF;
                        font-family: Overpass;
                        font-size: 10px;
                        font-weight: 700;
                        
                        .ddd{
                            width: 40%;
                            color: #969FAD;
                            font-family: Overpass;
                            font-size: 11px;
                            font-weight: 400;
                            line-height: 19px;
                        }
                    }
                    .numbers{
                        width: 200px;
                        display: flex;
                        margin-top:24px;
                        .www{
                            width: 35px;
                            height: 35px;
                            color: var(--medium-gray, #7C8798);
                            text-align: center;
                            font-family: Overpass;
                            font-size: 11px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: 0.175px;
                        }
                    }
                    button{
                        width: 220px;
                        height: 45px;
                        margin: 24px 0px 0px 20px;
                    }
                }           
            }    
        }
    }
}
